body {
    background-image: url(./WoodBackground.png);
    border: 10px;
    margin: 2px;
    
    
    text-align: center;
}
.container {
    
 margin: 0px;
 padding: 0px;
 border: 0px;

}
    

.header {
    margin: 3px;
    background-image: url(./HeadingBackground\ top.jpg);
    color: rgba(237, 129, 46, 0.906);
    height: 215px;
    border: 10px solid rgba(237, 129, 46, 0.906);
    border-radius: 10%;
}
     #heading {

        text-align: left;
        margin: 10px;
    
    }

    #date {
       
    }




.content {
    text-align: center;
    padding: 0px;
    min-height: 430px;
 
}
 
    #examplePara {
      position: relative;
      left: 20px;
      margin: 5px;
        padding: 5px;

        content: unset;
       
    }
    #remove {
         position:absolute;
         right: 20px;
    }

    #list {
        text-align: center;
        margin: 0px;
        padding: 0px;
        border: 0px;
       
    }
    .item {
        
        display: flex;
        flex-direction: row;
        text-align: center;
        
        background-color: rgb(240, 202, 119);
        border: 2px solid black;
        
        margin: 5px;
        padding: 5px;
    }

           
    
    




.footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    
    bottom: 0px;
    width: 570px;
    color: rgb(240, 202, 119);
    position: fixed;
    background-color: rgb(240, 202, 119);
    border: 5px solid black;
    border-radius: 10%;
    margin: 1px;
    padding: 5px;
    
}
     .viewButtons {
        padding: 10px;
        margin: 0px;
     }
          .viewButton {
         text-align: center;
         width: 20%;
         background-color: rgb(90, 158, 16);
         border-radius: 10%;
         padding: 0px;
            
         }

    #dateSelect {
        text-align: center;
        display: flex;
        flex-direction: row;
        color: black;

        
 
    }

    #orderListBy {
    }

     .myFoot {
      text-align: center;
      padding: 10px;
      margin: 0px;


      
    }
    
    #addButton {
        background-color: rgb(88, 159, 27);
        text-align: center;
        
    }

    #inputField {
        
        text-align: center;

    }