body {
    background-image: url(./WoodBackground.png);
    border: 10px;
    margin: 2px;
    min-width: 250px;
    
    text-align: center;
}

#heading {

 text-align: left;
 margin: 10px;

}

.header {
  background-image: url(./HeadingBackground\ top.jpg);
  color: rgba(237, 129, 46, 0.906);
  text-align: center;
  margin: 3px;
    height: 215px;
    border: 10px solid rgba(237, 129, 46, 0.906);
    border-radius: 10%;
}

.viewButtons {
        padding: 10px;
        margin: 0px;
     }


.header:after {
  content: "";
  display: table;
  clear: both;
}

.viewButton {
         text-align: center;
         width: 20%;
         background-color: rgb(90, 158, 16);
         border-radius: 10%;
         padding: 0px;
            
         }

/* Include the padding, border, width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* list items */
ul li {
  margin: 5px;
  background-color: rgb(240, 202, 119);
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10%;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  font-size: 18px;
  transition: 0.2s;
  
  /* items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* Hover for background-color Change */
ul li:hover {
  background: rgb(187, 207, 125);
}

/* When clicked, add a background-color and strike out text */
ul li.checked {
  background: rgb(89, 86, 86);
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the Remove list-item button */
.close {
  text-align: center;
  border-radius: 20%;
  background-color: red;
  position: absolute;
  height:40px;
  right: 2px;
  top:2px;
  padding: 10px ;
  border: 2px solid black;
}

.close:hover {
  background-color: #f44336;
  color: white;
}




input {
  text-align: center;
  border: 2px solid black; 
  border-radius: 10%;
  border-radius: 10%;
  margin: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  
}

.addBtn {
  padding: 10px;
  width: 25%;
  background-color: rgb(88, 159, 27);
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid black; 
  border-radius: 10%;
}









.footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    
    bottom: 0px;
    width: auto;
    min-width: 444px;

    color: rgb(240, 202, 119);
    position: fixed;
    background-color: rgb(240, 202, 119);
    border: 5px solid black;
    border-radius: 10%;
    margin: 1px;
    padding: 5px;
    
}
